.navigation{
  
  overflow: hidden;
  height: 70px;
  text-align: start;
  font-weight: 400;
 filter: contrast(0.8);
 
  position: fixed;
  top: -10px;
  width: 100%;
  float: left;
  z-index: 1!important;
  
  }
  .image img{
    height: 43px;
    width: 43px;
    position: fixed;
    display: block;
    margin-top: 9px;
    margin-left: 100px;
  }
  .dsc{
      font-weight: 600;
      margin-left: 10px;
      font-size: 44px;
      margin-top: -5px;
      padding-right: 40px!important;
      z-index: 0;
      filter: contrast(1.5);
  }
    

  .nav-buttons{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    
    
  }
.nav-content{
  margin-top: 12px;
  filter: contrast(1.5);
}
  
  a.nav-links{
    margin-top: 12px;
  margin-left: 20px;
    font-weight: 400;
    font-size: 31px;
    
    text-decoration: none;
  }


  @media(max-width:768px){
    .navigation {
      height: 60px;
      margin-top: 25px;
      
     
    }
    .dsc{
      font-weight: 600;
      margin-left: 10px;
      font-size: 37px;
      margin-top: -5px;
      
      
  }
  .image img{
    height: 38px;
    width: 38px;
    
    margin-top: 5px;
    margin-left: 90px;
  }
    a.nav-links{
   
        font-size: 26px;
 
  }
  .nav-content{
    margin-top: 10px;
  }
    
  }

  @media(max-width:650px){
    a.nav-links{
   
      font-size: 0px;

}
}

  @media(max-width: 450px){
    .navigation {
    
      margin-top: 25px;

    }
    .dsc{
      font-weight: 600;
      margin-left: 10px;
      font-size: 42px;
      margin-top: -7px;
      
      
  }
  .image img{
    height: 40px;
    width: 40px;
    
    margin-top: 8px;
    margin-left: 100px;
  }
    a.nav-links{
   
        font-size: 0px;
 
  }
}
  
